.skill-tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  cursor: default;
  font-weight: 500;
}

.skill-tag:hover {
  transform: translateY(-2px);
  box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.2);
}

.skill-tag img {
  width: 24px;
  height: 24px;
}

html.dark .skill-tag {
  background-color: #1e1e2f;
  color: #dddaf0;
}

html.dark .skill-tag:hover {
  box-shadow: 4px 6px 20px rgba(173, 157, 242, 0.5);
}
